.container{
    width:60%;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.thought-formContainer{
    width:80%;
    background-color:#ebebeb;
    margin-top:30px;
}

.thought-formContainer textarea{
 width:100%;
 min-height:50px;
 margin:10px 0 0px 0;
}

.thought-container{
    width:75%;
}
.thought-container h4{
    font-weight:normal;
}
.thought,
.thought-formContainer{
    border:1px solid #000;
    margin-bottom:30px;
    padding:20px;
    box-shadow: 10px 10px 0px 0 #000;
}


/*-- BUTTONS -------------*/
.thought-formButton{
    border-radius:50px;
    background-color:#ffb7d2;
    padding: 10px 15px;
    border:0px;
    font-size:18px;
}
.thought-formButton:hover,
.thought-likesButton:hover{
    background-color:rgb(255, 199, 220);
    cursor: pointer;
}
.thought-likesButton{
    background-color:#d1d1d1;
    padding:10px;
    border-radius:50px;
    border:0px;
    margin-right:10px;
    -webkit-animation: pulse 1.7s infinite;
    transition: background-color 0.3s ease;
}




.thought-informationContainer{
    display:flex;
    justify-content: space-between;
}

.thought-likes{
 display:inline;
}

.thought-createdAt{
text-align:right;
}








/*--- LIKE SECTION  -----------*/

.heart{
    font-size:24px;
}
.pulse{
    
}

@-webkit-keyframes pulse {
    0% {
      @include transform(scale(.95));
    }
    70% {
      @include transform(scale(1));
      box-shadow: 0 0 0 2px #d1d1d1;
    }
      100% {
      @include transform(scale(.95));
      box-shadow: 0 0 0 0 #d1d1d1;
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(.95);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 2px #d1d1d1;
    }
    100% {
      transform: scale(.95);
      box-shadow: 0 0 0 0 #d1d1d1;
    }
  }
  
.textareaWordCount{
    color:gray;
    text-align:right;
    margin-top:5px;
    font-size:16px;
}
h4{
    word-wrap: break-word;
}

@media  screen and (max-width: 800px) {
    .container{
        width:90%;
    }
  }